body {
  background-color: #f2f2f2;
}
h1,
h2,
h3,
p {
  color: #47455d;
}
.hero .row {
  align-items: center;
}
.sosmed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: flex-end;
}

.col-lg-3.col-sm-12.position-relative {
  justify-content: center;
  display: flex;
}
a {
  text-align: center;
}
.container {
  margin-top: 100px !important;
  max-width: 100%;
}
button {
  background-color: #f2f2f2;
  color: #47455d;
  height: 45px;
  width: 135px;
  border-radius: 50px;
}

body .aboutme,
body .skill {
  position: relative;
}

.gambar {
  display: flex;
  justify-content: end;
}
.gamb img {
  width: 100%;
}
.gambar img {
  padding: 20px;
}
.skill:after {
  right: 0 !important;
  left: unset !important;
}
h1,
h3,
h2 {
  letter-spacing: 7px;
}

body {
  font-family: "montserrat";
}
.carcon {
  margin: 100px !important;
}
button.carousel-control-prev,
button.carousel-control-next {
  top: 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #b3541e;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

a {
  color: #47455d !important;
}

.navbar {
  padding: 20px 35px;
  background: #f2f2f2 !important;
}
h2,
h3,
h1 {
  padding-bottom: 20px;
}

h3 {
  color: #b3541e;
}
.footer .icon img {
  padding: 20px;
  width: 100px;
}
.main {
  max-width: 1440px;
  margin: auto;
}
.carousel-control-prev {
  left: -77px;
}

.carousel-control-next {
  right: -77px;
}
.cr p.text-center {
  background: #fff;
  margin: 0;
}
.navbar ul li {
  padding: 0 28px;
}
/* MOBILE */
@media (max-width: 768px) {
  .main {
    margin: 0;
  }
  .aboutme:after,
  .skill:after {
    width: 200px;
  }
  .gambar {
    display: block;
  }
  .sosmed {
    display: flex;
    flex-direction: row !important;
  }
  .carcon {
    margin: 3rem !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .name {
    margin: 4rem 0;
  }
  .aboutme p {
    text-align: justify;
  }
  .fedev {
    margin-top: 3rem;
  }
}
@media (min-width: 992px) {
  .row1 {
    display: flex;
  }
  .gamb img {
    width: 90%;
  }
}
